
* {
  scrollbar-width: none;
}

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.asset-wrapper {
  background: linear-gradient(to right, #0b0200, #083d43);
}

.overlay {
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5); 
  padding: 2rem;
  color: white;
}

.overlay h2 {
  text-align: center;
  font-size: 90px;
  font-family: 'Black Ops One';
}

.asset-card {
  flex: 0 0 450px; 
  margin: 0 20px;
}

.asset-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.asset-item {
  flex: 1 1 calc(33.333% - 1rem);
  margin: 0.5rem;
  background: white;
  color: black;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.asset-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* .asset-item p {
  padding: 1rem;
  font-family: 'Roboto', sans-serif; 
  text-align: justify;
  font-size: 26px;
  line-height: 1.5;
} */

.asset-item.show {
  transform: translateY(0);
  opacity: 1;
}

.asset-item.hide {
  transform: translateY(20px);
  opacity: 0;
}

.animate-up {
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translateY(0);
  opacity: 1;
}

.animate-down {
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translateY(20px);
  opacity: 0;
}

.asset {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
  margin-bottom: 20px;
}

.asset.left .asset-card {
  order: 1;
  margin-right: 20px; 
  margin-left: 0; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px; 
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); 
}

.asset.left .description {
  order: 2; 
}

.asset.right .asset-card {
  order: 2; 
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7); 
}

.asset.right .description {
  order: 1; 
}

.description {
  font-size: 25px;
  text-align: justify;
  font-family: 'Roboto', sans-serif; 
}
